.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #8ea69b;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .header-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #8ea69b;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .header-container {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
  }
}*/







  